{% extends 'base.html' %}
{% load static %}

{% block content %}
    
    <div class="col">
        <h4 class="text-center">{{ message }}</h4>
        {% include 'products/snippets/search.html' %}
        
        <div class="row">
            {% for product in product_list %}
               <div class="col-3 mt-5">
                   {% include 'products/snippets/product.html' %}
               </div>                            
            {% endfor %}
        </div>
            
        
    </div>

{% endblock content %}

