<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orden Completada</title>
</head>
<body>
    <div class="">
        <h3>
            Hola {{user.username}} tu pedido ha sido enviado
        </h3>
        <p>Visita la pagina para ver tus pedidos</p>
        <a href="{{next_url}}" target="_blank">¡Mis pedidos!</a>
    </div>
    
</body>
</html>